<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Login Page</title>
</head>

<body>
    <div class="container" id="container">
        <!-- //Login Form Page -->
        <div class="form-container sign-in">
            <form action="/login" method="post">
                <h1>Đăng nhập</h1>
                <input type="text" placeholder="Tài khoản" id="username" name="username" required>
                <input type="password" placeholder="Mật khẩu" id="password" name="password" required>
                <a href="#" style="color: blue">Quên mật khẩu?</a>
                <button class="signin-button" type="submit">Đăng nhập</button>
            </form>
        </div>
        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-right">
                    <p>BIIC</p>
                    <img class="rounded-image" src="images/biic.jpg" alt="">
                </div>
            </div>
        </div>
    </div>


</body>

</html>