<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>QL Nhân viên</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <div class="grid-container">
    <!-- HEADER -->
    <%- include('partials/header') %>
      <!-- Thông báo -->
      <!-- Sidebar -->
      <%- include('partials/sidebar') %>
        <!-- end Sidebar -->
        <!-- main -->
        <main class="main-container">
          <div class="container">
            <h2>Nhân viên</h2>
            <div class="container-1">
              <div class="container-2">
                <form action="/search" method="post">
                  <input class="timkiem-nhanvien" name="tknvien" type="text"
                    placeholder="ID Nhân Viên muốn tìm"/>
                </form>
                <button class="DangKy" onclick="dangky()">Thêm Nhân Viên</button>
                <script>
                  function dangky(){window.location.href = "/register";}
                </script>
              </div>

              <style>
                .DangKy {
                  background-color: #007bff;
                  color: #fff;
                  border: none;
                  padding: 10px 20px;
                  
                  border-radius: 4px;
                  cursor: pointer;
                  margin-left: 90%;
                }
                .timkiem-nhanvien {
                  width: 40%;
                  height: 30px;
                  border: 1px solid #ccc;
                  border-radius: 4px;
                  padding: 5px;
                }
              </style>
              <div>

                <table class="table table-responsive">
                  <thead>
                    <tr>
                      <th scope="col">ID Nhân Viên</th>
                      <th scope="col">Phòng Ban</th>
                      <th scope="col">Hành động</th>
                    </tr>
                  </thead>
                  <tbody>
                    <%- include('partials/listnhanvien') %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </main>
        <!-- End Main -->

  </div>