<header class="header">
    <div class="menu-icon" onclick="openSidebar()">
        <span class="material-icons-outlined">menu</span>
    </div>
    <div class="header-left">
        <!-- <span class="material-icons-outlined">search</span> -->
    </div>
    <div class="header-left">
        <span class="material-icons-outlined" onclick="showNotification()">notifications</span>
        <span style="margin-left: 5px; margin-right: 5px;">
            Xin chào: <%= user.IdNVien %>
        </span>
        <div class="dropdown">
            <span class="material-icons-outlined" onclick="toggleDropdown()">account_circle</span>
            <div id="dropdown-menu" class="dropdown-content">
                <a onclick="openChangePasswordForm()">Đổi mật khẩu</a>
                <a href="/logout">Đăng xuất</a>
            </div>
        </div>
    </div>
    <!-- Change Password Form Modal -->
</header>
<div id="changePasswordModal" class="modal hidden">
    <div class="modal-content">
        <span class="close-btn" onclick="closeChangePasswordForm()">&times;</span>
        <h2>Đổi mật khẩu</h2>
        <form id="changePasswordForm" action="/updatepassword" method="POST">
            <label for="currentPassword">Mật khẩu hiện tại:</label>
            <input type="password" id="expassword" name="expassword" required>
            <label for="newPassword">Mật khẩu mới:</label>
            <input type="password" id="password" name="password" required>
            <label for="confirmPassword">Xác nhận mật khẩu:</label>
            <input type="password" id="password2" name="password2" required>
            <button type="submit" class="custom-button">Cập nhật mật khẩu</button>
        </form>
    </div>
</div>

